@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
:root{
    --bg : #E6F0FF;
    --btn_color : #0F1B4C;
    --text-color : #7D8589;
}

.width-max{
    max-width: 1440px;
    margin: 0 auto;
    
}
@media screen and (max-width: 1480px) {
    .width-max{
        padding-left: 4%;
        padding-right: 4%;
    }
}

.flex{
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

