/* PC */
@media screen and (min-width: 800px) {
    .header .menu_mobile{
        display: none;
    }
    .header .close{
        display: none;
    }
    .mobi{
        display: none;
    }
}

/* mobile */

@media screen and (max-width: 799px) {
    .header .login{
        display: none;
    }
    .header .menu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
        max-width: 100%;
        background-color: white;
        z-index: 2;
        padding-top: 50px;
        transform: translateX(-100%);
         opacity: 0;
        transition: transform linear 0.2s,opacity linear 0.2s;
        
    }
    .header .close{
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .header .close:hover svg path{
        fill: red;
    }
    .header .menu_ul{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 40px;
    }

    .header .menu_ul li a{
        transition: all .2s linear;
        display: block;
    }
    .header .menu_ul a:hover{
        transform: translateX(10px);
    }
    .header .menu_overlay{
        display: none;
        animation: fadein linear 0.2s;
    }
    .check_menu:checked ~ .menu{
        transform: translateX(0%);
        opacity: 1;
    }
    .check_menu:checked ~ .menu_overlay{
        display: block;
    }
    .header .header_body .right{
        display: none;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



@media screen and (max-width: 1000px) {
    .header .header_body .right{
        display: none;
    }
    .header .header_body .left .btn{
        margin-bottom: 20px;
    }
    .header .header_body{
        width: fit-content;
        justify-content: center;
    }
}

@media screen and (max-width: 540px) {
.header .header_body .left .h1{
    font-size: 5rem;
}
}